<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelservicioelemento.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="3" cellStep="0" name="${lbl:b_rel_servicio_elemento}"/>
	
	<excel 
		recordset='query-smnrelservicioelemento.sql' 
		sheetname='${lbl:b_rel_servicio_elemento}' 
		filename='${lbl:b_rel_servicio_elemento}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_servicios_rf_combo' label='${lbl:b_services}' />
		<col id='smn_elemento_id_combo' label='${lbl:b_element}' />
		<col id='rse_idioma' label='${lbl:s_profile_lang}' />
		<col id='rse_usuario' label='${lbl:b_users}' />
		<col id='rse_fecha_registro' label='${lbl:b_store_date}' />
		<col id='rse_hora' label='${lbl:s_loginhist_col2}' />

	</excel>

</config>
