<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnperfilcentrocosto.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_perfil_centro_costo}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_perfil_centro_costo}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnperfilcentrocosto.sql' width='100' spacingBefore='40'>
			<col name='smn_centro_costo_rf_combo' title='${lbl:b_cost_lefts}' width='14' align='left' format='######' />
			<col name='smn_funcion_centro_id_combo' title='${lbl:b_funcion_centro_costo}' width='14' align='left' format='######' />
			<col name='smn_nivel_distribucion_id_combo' title='${lbl:b_nivel_distribucion}' width='14' align='left' format='######' />
			<col name='smn_doc_base_distribucion_id_combo' title='${lbl:b_documento_base_distribucion}' width='14' align='left' format='######' />
			<col name='cdi_estatus_combo' title='${lbl:b_status}' width='14' align='left' />
			<col name='cdi_vigencia' title='${lbl:b_validation_date}' width='14' align='left' format='dd-MM-yyyy' />
			<col name='cdi_fecha_registro' title='${lbl:b_store_date}' width='14' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
