<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnperfilcentrocosto.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>domain.ExcelReportOutput</classname>
	</output>
	
	<excel-logo scale="60" url="/images/logo-simone-pdf.png"/>
	<title cellPosY="1" cellPosX="5" cellStep="0" name="${lbl:b_perfil_centro_costo}"/>
	
	<excel 
		recordset='query-smnperfilcentrocosto.sql' 
		sheetname='${lbl:b_perfil_centro_costo}' 
		filename='${lbl:b_perfil_centro_costo}.xls' 
		date-format='dd-MM-yyyy'
		header-background='true'>
		<col id='smn_centro_costo_rf_combo' label='${lbl:b_cost_centers}' />
		<col id='smn_funcion_centro_id_combo' label='${lbl:b_funcion_centro_costo}' />
		<col id='smn_nivel_distribucion_id_combo' label='${lbl:b_nivel_distribucion}' />
		<col id='smn_doc_base_distribucion_id_combo' label='${lbl:b_documento_base_distribucion}' />
		<col id='cdi_estatus_combo' label='${lbl:b_status}' />
		<col id='cdi_vigencia' label='${lbl:b_validation_date}' />
		<col id='cdi_idioma' label='${lbl:s_profile_lang}' />
		<col id='cdi_usuario' label='${lbl:b_users}' />
		<col id='cdi_fecha_registro' label='${lbl:b_store_date}' />
		<col id='cdi_hora' label='${lbl:s_loginhist_col2}' />

	</excel>

</config>
