<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelitemelemento.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_rel_item_elemento}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_rel_item_elemento}">
				<col id='smn_item_rf_combo' label='${lbl:b_item}' />
		<col id='smn_elemento_id_combo' label='${lbl:b_element}' />
		<col id='rie_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
