<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='30%'/>
	<col width='30%'/>
	<col width='30%'/>


	<!--toolbar-->
	<tr>
		<th colspan="6">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_centro_costo_rf_combo','query-smnrelcentrocostoelemento.sql')" >${lbl:b_cost_centers}</th>
		<th class='sortable' onclick="sortBy('smn_elemento_id_combo','query-smnrelcentrocostoelemento.sql')" >${lbl:b_element}</th>
		<th class='sortable' onclick="sortBy('rce_fecha_registro','query-smnrelcentrocostoelemento.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_rel_centro_costo_elemento_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_rel_centro_costo_elemento_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_rel_centro_costo_elemento_id}')" title="${lbl:b_edit_button}"></td>
		<td align="center">${fld:smn_centro_costo_rf_combo}</td>
		<td align="center">${fld:smn_elemento_id_combo}</td>
		<td align="center">${fld:rce_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
